@import url('./normalize.css');
@import url('./fonts.css');
@import url('./vars.css');



body {
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

